*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: block;
    align-items: center;
    justify-content: center;
    max-width: 700%;
    margin: auto;
    overflow-x: hidden;
}

/* FONTS */

h1{ 
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 750%;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color: transparent; 
    text-transform: uppercase;
}
h2{
    font-family: 'Oswald', sans-serif;
    width: 700;
    font-size: 60px;
    -webkit-text-stroke: 1px #FE5F55;
    color: transparent; 
    text-transform: uppercase;
    text-align: center;
}
h3{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    -webkit-text-stroke: 1px #FE5F55;
    color: transparent; 
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-align: justify;
    font-size: 15px;
    color: #707070;
    min-width: 70px;
    max-width: 50%;
}

/* HOME */

.container-home{
    position: relative;
    margin: 0;
}
.presentacion{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 80%;
    margin: 0 auto  0 auto;
    background-color: #f6bd60;
    border: solid #707070 3px;
}
.texto-presentacion{
    display: block;
    margin-left: 150px;
    margin-bottom: 50px;
}
.pointer{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 50px;
    height: 100px;
}
.cover-photo{
    position: absolute;
    align-items: right;
    top: 1px;
    right:0px;
    bottom: 0px;
    margin-right: 0%;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 50%;
}
.location{
    position: relative;
    display: flex;
    top: -50px;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 300px;
    height: 100px;
}

/* NAVBAR */

.container-nav{
    position: sticky;
    top: 10px;
}
.navbar{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 25px;
    text-transform: uppercase;
    color: #707070;
    margin: 15px;
    background-color: #ffffff;
    
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    display: flex;
    border-top:#707070 1px solid;
    border-bottom:  #707070 1px solid;
}
.navbar li{
    color: #333;
    font-family: 'Oswald', sans-serif;
    margin: 0 50px 0 ;
    padding: 5px;
    align-items: center;
}
.navbar li:hover{
    color: #faae33;
    transition: 0.5s;
    cursor: pointer;
}

/* ABOUT */

.about{
    margin-top: 100px;
}

.cards{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.box-one{ 
    display: block;
    position: relative;
    width: 35%;
    background-color:#ffff;
    border: #707070 solid 1px;
    border: #707070 solid 1 px;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: 1%;
}
.box-two{ 
    display: block;
    position: relative;
    width: 35%;
    background-color:#ffff;
    border: #707070 solid 1px;
    border: #707070 solid 1 px;
    max-width: 100%;
    height: auto;
    margin-left: 1%;
    margin-right: auto;
}
.card{
    display: flex;
    justify-content: left;
    padding: 20px;
    border-top:#707070 solid 1px;
    height: 15%;
}
.card img{
    width: 20%;
    height: auto;
    margin-left: 0%;
    margin-right: 5%;
}

.text-icon{
    margin-top: auto;
    margin-bottom: auto;
    max-width: 70%;
}

.text-about p{
    position: relative;
    margin: 40px;
    min-width: 70px;
    max-width: 80%;
    text-align: justify;
    
}
.about h3 :not(:first-child){
    border-bottom: #707070 solid 1px;
}
.forma-geometrica2{
    position: absolute;
    margin: 0;
    background-size: auto auto;
    background-size: 10px;
}
.attributtes_text{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.soft_skills p{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #707070 solid 1px;
    margin-bottom: 100px;
}
.circle1{
    position: absolute;
    width: 12%;
    height: auto;
    margin-left: -70%;
    
}
.circle2{
    position: absolute;
    width: 20%;
    height: 80px;
    margin-left: 60%;
    margin-bottom: 30px;
    bottom: 50px;
    align-items: flex-end;
}

/* PROJECTS */
.container-projects{
    position: relative;
}
.projects{
    padding: 100px;
    position: relative;
    display: flex;
    justify-content: center; 
    width: 80%;
    margin:auto; 
    background-image: url("../img/formas-geometricas/formaR.svg");  
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 200px;
}
.title_project_div{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.title_project{
    text-align:center;
    width: 100%;
}
.img_projects{
    width: 90%;
    margin-left: 5%;
}
.forma1{
    position: absolute;
    margin-left: auto;
    margin-right: auto;  
    position: relative;
    background-size: auto auto;
    background-size: 10px;
}
  .btn{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    width:50%;
    align-items: center;
    padding:10px 0;
    margin: 10px auto;
    border:1px solid #333;
    background-color: #000000;
    font-size:1.3em;
    color:#333;
    text-align:center;
}
a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.btn:hover{
    background:#f6bd60;
}

/*CONTACT*/

.container-contact{
    position: relative;
}
.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
    height: auto;
    margin:  auto;background-color: #ffffff;

}
.contact-form .bottom{
   display: flex;
    color: rgb(255, 255, 255); 
    border: #707070 solid 1px;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.contact-form .bottom:hover{
    background:#f6bd60;
}
.contact-form h2{
    margin-top: 0px;
}
.contact-form{
    max-width: 100%;
    max-height: auto;
}
label {
    display: block;
}
input[type="text"], input[type="email"], input[type="submit"], textarea {
    font-size: 1em;
    width: 100%;
    min-width: 300%;
    height: auto;
    border: 0;
}
textarea {
    height: 6em;
}
input[type="text"], input[type="email"], textarea{
    border-bottom: #707070 1px solid;
    margin-bottom: 50px;
    margin-left: -100%;
    padding: 5px;
     
}
input[type="submit"]{
    margin-left: -100%;
    padding: 5px;

}
input:hover[type="text"], input:hover[type="email"], textarea:hover{
    background:  #e7e7e7;
}

/* Footer */

.container-footer{
    position: relative;
}
.footer{
    display: flex;
    max-width: 100%;
    margin-top: 15%;
    border: #707070 solid 1px;
    justify-content: center;
    margin-bottom: 5%;
}
.part1_backtotop{
    width: 33%;
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: 0;

}
.part1_backtotop h3{
    font-size: 35px;
}

.part2-findme{
    width: 30%;
    margin: 0 0 0 0;
}
.findme p{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    text-align: left;
}
.findme{
    width: 100%;
    margin: 0 auto auto 0;
    margin-bottom: 5%;
    margin-left: 20%;
}
.iconos-social_media{
    width: 100%;
    margin-left: 20%;
    margin-bottom: 10%;
}
.iconos-social_media a{
    max-width: 50%;
    height: auto;
    padding: 1%;
    width: 10%;
   
}
.part3_contact{
    width: 33%;
    margin-right: 0;
    margin-left: auto;
   
}
.part3_contact p:first-child{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 2em;
    text-align: center;
}
.contact p{
    text-align: start;
}
.contact{
    display:flex;
    flex-flow:column;
    margin-right: 50%;

}
.contact-1{
    display: inline-flex;
    justify-content: center;
    margin-left: 50%;
}
.contact-2{
    display: inline-flex;
    justify-content: center;
    margin-left: 50%;
}
.burgerbutton{
    display: none;
}
.iconos-social_media_responsive{
    display: none;
}
.navbar-responsive{
    display: none;
}

/* -------------------------------------------- MOBILE VERSION --------------------------------------------------------------*/

@media screen and (max-width:480px){ 
     .body{
        width: 100%;
    }
    
    /* HOME */

    .presentacion{
        top: 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 200%;
        margin: 0 0 0 0;
    }
    .texto-presentacion {
        margin-left: 17%;
        margin-right: auto;
    }
    .location{
        position:relative;
        margin-top: 5%;
        width: 150px;
        height: 50px;
    }
    .pointer{
        top: 10px;
        margin-left: -20%;
        width: 25px;
        height: 50px;
    }
    .cover-photo{
        display: none;
    }
    
    /* NAVBAR */
    .navbar{
        display: none;
    }
    .navbar-responsive{
        margin-top: 5%;
        margin-left: 5%;
        display: flex;
        width: 100%;
        font-family: 'Oswald', sans-serif;
        font-weight: 200;  
    }
    
    .navbar-responsive ul{
        display: block;
        border-color: gray;
        color: black;
    }
    .navbar-responsive li:not(:first-child){
        margin-left: 0;
        margin-top: 20px;
    }
    .navbar-responsive li{
        font-size: 2em;
        color: black;
        list-style: none;
    }
    .icons_burgerbutton{
        position:relative;
        display: flex;
        justify-content: space-around;
    }
    .burgerbutton{
        display: flex;
        margin-top: 7%;
    }
    .close{
        display: block;
        color: #999;
        font-size: 3em;
        text-transform: uppercase;
        text-decoration: none;
        position: absolute;
        top: 20px;
        right:30px;
    }
    .iconos-social_media_responsive{
        display: flex;
        padding: 0 0 0 10px;
        margin-top: 3%;
    }
     .iconos-social_media_responsive a{
         padding: 1%;
    }
   
    /* ABOUT */

    .cards{
       display: block;
        
    }
    .box-one{ 
        width: 100%;
        margin-left: 1px;
    }
    .box-two{ 
        width: 100%;
        margin-left: 1px;
        margin-top: 20px;
    }
    .circle2{
       margin-bottom: -10px;
    }
    
    /* PROJECTS */

    .projects{
        padding: 0;
        position: relative;
        display: flex;
        justify-content: center; 
        width: 100%;
        margin:auto; 
        margin-bottom: 70%;
    }
    .title_project_div{
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .title_project{
        text-align:center;
        width: 100%;
    }
    .img_projects{
        padding-left: 10%;
        padding-right: 10%;
    }
    
    /*CONTACT FORM*/

    input[type="text"], input[type="email"], textarea {
        padding:0;
        margin-top: 20px;
       
    }
    .contacth3{
        margin-top: -60%;
    }
    /* Footer */
    
    .forma-geometrica2{
        width: 100%;
    }

   .part1_backtotop h3{
       font-size:2em;
    }
    
   .part2-findme{
       display: none;
    }
    .part3_contact{   
        margin-right: 10%;
        margin-top: 8%;
    }
    .part1_backtotop{
        margin-left: 10%;
    }

    
}
/*------------------------ TABLET VERSION -------------------------------------------------------------------*/

@media screen and (max-width:800px){
    .body{
       width: 100%;
   }
   
   /* HOME */

   .presentacion{
        display: flex;
        width: 100%;
        max-width: 100%;
    }
   .texto-presentacion h1{ 
       font-size: 4em;
       margin-left: auto;
       margin-right: auto
   }
   .texto-presentacion p{
       width: 100%;
       max-width: 100%;
       padding: 0 15px;
       margin-left: -10%;
   }
   .location{
       top: -40px;
       width: 220px;
       height: 80px;
   }
   .pointer{
       top: 10px;
       left: 100px;
       width: 40px;
       height: 80px;
   }
   .cover-photo{
       display: none;
   }
   
   /* ABOUT */

   .cards{
      display: block;
    }
   .box-one{ 
       width: 100%;
       margin-left: 1px;
   }
   .box-two{ 
       width: 100%;
       margin-left: 1px;
       margin-top: 20px;
   }
   .circle2{
      margin-bottom: -10px;
   }
   .forma-geometrica2{
       max-width: 80%;
    }
   
   /* PROJECTS */

   .projects{
      display: block;
      width: 70%;
      max-width: 100%;
   }
   .title_project_div{
       width: 200%;
       margin-left: -50%;
   }
   .title_project{
        text-align:center;
        width: 100%;
    }
   .img_projects{
       width: 100%;
       margin-left: 0%;
    }
   .btn{
       width:100%;
    }
   .image_project_div{
       width: 150%;
       margin-left: -25%;
    }
    
    /* CONTACT */
    
    .contact-form{
        max-width: 50%;
        max-height: auto;
    }
    .contactme{
        width: 50%;
    }
    input[type="text"], input[type="email"], textarea {
        padding: 5px 0 0 0 ;
        margin-top: 20px;
        width: 80%;
    }

    /* FOOTER */

    .findme p{
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 2em;
        text-align: left;
    }
}

